DTCDescription.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="dtcdescriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dtcdescription">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code"/>
              <xs:element name="description"/>
              <xs:element name="reason" minOccurs="0" maxOccurs="16"/>
              <xs:element name="tips"   minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
